@use "@/styles/base/variables" as *;

.home {
  width: 100%;
  min-height: 100vh;

  @media (max-width: $tablet) {
    padding: $spacing-lg 0;
  }

  @media (max-width: $mobile) {
    padding: $spacing-md 0;
  }
}
